@if(hojaIngresoId === 0){
<app-grid-crud [gridParamCrud]="parametros" [openEditNewTab]="false" [editFormsTemplate]="appEditForms"
  (toolbarEditEvent)="handleEventEditToolbar($event)">
</app-grid-crud>

<ng-template #appEditForms let-selectedRecord>
  <ng-container *ngTemplateOutlet="formDetalle"></ng-container>
</ng-template>
}@else{
@if(!loadingData){
<ng-container *ngTemplateOutlet="formDetalle"></ng-container>
}@else{
<div class="widget-container">
  <div style="height: 56px;"></div>
  <div class="surface-card shadow-2 p-3 border-round">
    <app-skeleton></app-skeleton>
  </div>
</div>
}
}

<ng-template #formDetalle>
  @if(hojaIngresoId){
  <div class="widget-container">
    <dx-resizable class="resizable-container" [minWidth]="500" [minHeight]="150" [maxHeight]="370" handles="right"
      area=".widget-container">
      <dx-toolbar id="toolbarCotizacion" #toolbarGrid [multiline]="true">
        <dxi-item location="before" widget="dxButton">
          <div *dxTemplate>
            <dx-button icon="arrowleft" hint="Atrás" (onClick)="onClickButtonOptions('anterior')"></dx-button>
          </div>
        </dxi-item>

        <dxi-item location="before" widget="dxButton">
          <div *dxTemplate>
            <dx-button icon="arrowright" hint="Siguiente" (onClick)="onClickButtonOptions('siguiente')"></dx-button>
          </div>
        </dxi-item>

        <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
          <div *dxTemplate>
            <div class="toolbar-separator"></div>
          </div>
        </dxi-item>

        <dxi-item location="before" widget="dxButton">
          <div *dxTemplate>
            <dx-button icon="fa fa-file" hint="Reporte" (onClick)="onClickButtonOptions('reporte')"></dx-button>
          </div>
        </dxi-item>
      </dx-toolbar>
    </dx-resizable>
  </div>
  }

  <dx-form id='formEdit' [readOnly]="readonly" [formData]="selectedRecord" [labelMode]="'static'">
    <dxi-item itemType="group" [colCount]="4">
      <dxi-item [label]="{text:'Cliente'}" dataField="clientesId" editorType="dxSelectBox" [colSpan]="2"
        [editorOptions]="{ dataSource: dsClientes, showClearButton: true, displayExpr: displayExprTemplate, valueExpr: 'clientesId',
                        searchEnabled: true, searchTimeout: 1000, itemTemplate: itemTemplate, searchExpr: ['nombre', 'apellido', 'correoElectronico', 'celular']}">
        <dxi-validation-rule type="custom" [validationCallback]="validateNumber" message="Cliente es requerido">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item [label]="{text:'# Cotización'}" dataField="documentoNo" [editorOptions]="{readOnly: true}">
      </dxi-item>

      <dxi-item [label]="{text:'# Hoja Ingreso'}" dataField="noControl" [editorOptions]="{readOnly: true}">
      </dxi-item>

      <dxi-item [label]="{text:'Fecha Doc.'}" editorType="dxDateBox"
        [editorOptions]="{readOnly: true, type: 'datetime', displayFormat: 'dd/MMM/yyyy hh:mm aa'}"
        dataField="fechaDocumento">
      </dxi-item>

      <dxi-item [label]="{text:'Validez'}" dataField="validezDias" editorType="dxSelectBox"
        [editorOptions]="{ items: validezDias , valueExpr: 'catalogosId', displayExpr:'descripcion'}">
        <dxi-validation-rule type="custom" [validationCallback]="validateNumber" message="Validez es requerido">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item [label]="{text:'Tipo Impuesto'}" dataField="tipoImpuesto" editorType="dxSelectBox"
        [editorOptions]="{ items: tipoImpuesto , valueExpr: 'catalogosId', displayExpr:'descripcion'}">
        <dxi-validation-rule type="custom" [validationCallback]="validateNumber" message="Tipo Impuesto es requerido">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item [label]="{text:'Estado'}" dataField="estado" editorType="dxSelectBox"
        [editorOptions]="{ readOnly: true, items: estadosDocumento , valueExpr: 'catalogosId', displayExpr:'descripcion'}">
      </dxi-item>

      <dxi-item [label]="{text:'Notas'}" dataField="notas" [colSpan]="4">
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" caption="Detalle" [colSpan]="3">
      @if(selectedRecord){
      <dxi-item>
        <div *dxTemplate style="margin-top: -10px !important;">
          <app-cotizaciones-detalle [cotizacionId]="selectedRecord.cotizacionId" [readOnlyForm]="true"
            [tipoImpuestoId]="selectedRecord.tipoImpuesto" [(surveyDetalleTemplate)]="selectedRecord.cotizacionDetalle">
          </app-cotizaciones-detalle>
        </div>
      </dxi-item>
      }
    </dxi-item>
  </dx-form>

  @if(popupVisibleReporte){
  <dx-popup [showTitle]="true" title="Reporte" [dragEnabled]="true" [hideOnOutsideClick]="false"
    [showCloseButton]="true" container=".dx-viewport" [(visible)]="popupVisibleReporte" contentTemplate="popup-content">
    <div *dxTemplate="let data of 'popup-content'">
      <div id="reporteRender">
        <ngx-extended-pdf-viewer [base64Src]="reportFileRender" [showToolbar]="currentZoomReport != 150"
          (pdfLoaded)="loadingVisibleReporte = false" useBrowserLocale="true" backgroundColor="#ffffff"
          [zoom]="currentZoomReport" [height]="'68dvh'" [handTool]="false" [showHandToolButton]="true"
          [showOpenFileButton]="false" [customToolbar]="additionalButtons" [filenameForDownload]="'Report'">
        </ngx-extended-pdf-viewer>

        <ng-template #additionalButtons>
          <div id="toolbarViewer" style="background-color:rgb(224 242 254);">
            <div id="toolbarViewerLeft">
              <pdf-toggle-sidebar></pdf-toggle-sidebar>
              <div class="toolbarButtonSpacer"></div>
              <pdf-paging-area></pdf-paging-area>
            </div>
            <pdf-zoom-toolbar></pdf-zoom-toolbar>
            <div id="toolbarViewerRight">
              <pdf-shy-button [cssClass]="'lg' | responsiveCSSClass" title="Enviar cotización para aprobación"
                primaryToolbarId="nestedComponent" [order]="1" [closeOnClick]="true">
                <button #nestedContent id="sidebarToggle" color="primary" class="toolbarButton"
                  matTooltip="export an image" (click)="sendAprobacion()">
                  <mat-icon style="color: #3f51b5;">email</mat-icon>
                </button>
              </pdf-shy-button>

              <pdf-open-file></pdf-open-file>
              <pdf-presentation-mode></pdf-presentation-mode>
              <pdf-print></pdf-print>

              <app-open-in-new-tab></app-open-in-new-tab> <!-- your custom component -->
              <pdf-download></pdf-download>
              <div class="verticalToolbarSeparator hiddenSmallView"></div>
              <pdf-toggle-secondary-toolbar></pdf-toggle-secondary-toolbar>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <dxo-position at="center" my="center" collision="fit"></dxo-position>
  </dx-popup>

  <dx-load-panel id="loadingVisibleReporte" shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#reporteRender' }"
    [(visible)]="loadingVisibleReporte" [showIndicator]="true" [showPane]="true" [shading]="true"
    [hideOnOutsideClick]="false">
  </dx-load-panel>

  <dx-popup [width]="290" [height]="300" [showTitle]="true" title="Enviar Cotización" [resizeEnabled]="false"
    [hideOnOutsideClick]="true" [showCloseButton]="true" [autofocus]="false" container=".dx-viewport"
    [(visible)]="popupVisibleSendCotizacion" contentTemplate="popup-content">
    <div *dxTemplate="let data of 'popup-content'">
      <div id="sendCotizacion">
        <p-listbox [options]="tiposMensajes" [(ngModel)]="selectedTipoMensaje" optionLabel="name"
          [style]="{'width':'15rem'}" [listStyle]="{'max-height': '220px'}" />
      </div>
    </div>

    <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="after"
      [options]="submitCodeButtonOptions"></dxi-toolbar-item>

    <dxo-position at="center" my="center" collision="fit"></dxo-position>
  </dx-popup>

  <dx-load-panel id="loadingVisibleSendCotizacion" shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#sendCotizacion' }"
    [(visible)]="loadingVisibleSendCotizacion" [showIndicator]="true" [showPane]="true" [shading]="true"
    [hideOnOutsideClick]="false">
  </dx-load-panel>
  }

</ng-template>

<div style="display: none;">
  <dx-select-box id='selectBoxSample'></dx-select-box>
</div>
