<li [ngClass]="item.classes!" [routerLinkActive]="['active']">
  <a class="nav-link" [target]="item.target ? '_blank' : '_self'" (click)="itemClick($event)">
    @if (item.icon) {
    <span class="coded-micon">
      <span [class]="item.icon"></span>
    </span>
    <!-- <span class="coded-micon">
          <svg class="pc-icon">
            <use attr.xlink:href="assets/fonts/custom-icon.svg{{ item.icon }}"></use>
          </svg>
        </span> -->
    }
    @if (item.icon) {
    <span class="coded-mtext">{{ item.title }}</span>
    } @else {
    {{ item.title }}
    }
  </a>
</li>
