.login-wrap {
  position: relative;
  background: transparent;
  border-radius: 10px;
  padding: unset !important;

  h3 {
    font-weight: 300;
  }

  .icon {
    width: 80px;
    height: 80px;
    background: #627fd1;
    border-radius: 50%;
    font-size: 60px;
    margin: 0 auto;
    margin-bottom: 10px;

    span {
      color: white;
      position: absolute;
      left: 43%;
      top: 8%;
    }
  }
}

::ng-deep body {
  .mat-mdc-card {
    border: unset !important;
    border-radius: unset !important;
    box-shadow: unset !important;
    background: unset !important;
    margin-bottom: 0px;
  }
}

::ng-deep .mat-mdc-card-content {
  display: block;
  padding: 0 16px;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
}
