<div class="auth-main">
  <div class="auth-wrapper version-1">
    <div class="auth-form">
      <div class="auth-background">
        <div class="yellow-circle"></div>
        <div class="red-circle"></div>
      </div>
      <div class="main-form">
        <div class="content">
          <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-md-6">
                <img src="/assets/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
              </div>
              <div class="col-md-6">
                <div style="width: 70%;top: 16%;position: relative;left: 22%;">
                  <app-card [showHeader]="false" class="auth-form-card" [padding]="40">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                      <div class="login-wrap p-4 p-md-5">
                        <div class="icon">
                          <span class="fa fa-user-o"></span>
                        </div>
                        <h3 class="text-center m-b-25 f-20 f-w-500">Bienvenido al sistema</h3>
                      </div>
                      <div class="text-start">
                        <mat-form-field appearance="outline" class="w-100 m-t-5">
                          <mat-label>Correo Electrónico</mat-label>
                          <input matInput type="email" formControlName="email" placeholder="tu@email.com"
                            [class.mat-form-field-invalid]="email?.invalid && email?.touched">

                          <mat-icon matPrefix>email</mat-icon>
                          <mat-hint>Ingresa tu dirección de Correo Electrónico empresarial</mat-hint>

                          <mat-error *ngIf="email?.hasError('required')">
                            El email es requerido
                          </mat-error>
                          <mat-error *ngIf="email?.hasError('email')">
                            Por favor ingresa un email válido
                          </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-100 m-t-5">
                          <mat-label>Contraseña</mat-label>
                          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                          <mat-icon matPrefix>lock</mat-icon>
                          <mat-hint>Ingresa tu contraseña</mat-hint>

                          <mat-error *ngIf="password?.hasError('required')">
                            La contraseña es requerida
                          </mat-error>
                          <button mat-icon-button matSuffix (click)="togglePassword($event)" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                          </button>
                        </mat-form-field>

                      </div>
                      <br />
                      <div class="check-me">
                        <mat-checkbox class="float-start" checked color="primary">Recordar credenciales</mat-checkbox>
                        <a class="f-w-400 f-14 text-primary-500 m-b-0" href="javascript:">¿Olvidó su contraseña?</a>
                      </div>
                      <div class="grid">
                        <button type="submit" mat-raised-button color="primary" class="b-rad-20 m-t-15"
                          [disabled]="loginForm.invalid || isLoading">
                          <span *ngIf="!isLoading">Ingresar</span>
                          <mat-spinner diameter="20" *ngIf="isLoading"></mat-spinner>
                        </button>
                      </div>
                      <!-- <div class="check-me m-t-20">
            <h6 class="f-w-400 text-muted m-b-0">Don't have an Account?</h6>
            <a [routerLink]="['/auth/register']" class="text-primary-500">Create Account</a>
          </div> -->
                    </form>
                  </app-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
