<app-grid-crud [gridParamCrud]="parametros" [openEditNewTab]="false" [editFormsTemplate]="appEditForms">
</app-grid-crud>

<ng-template #appEditForms let-selectedRecord>
  <dx-form id='formEdit' [formData]="selectedRecord" [labelMode]="'static'">
    <dxi-item itemType="group" [colCount]="3">
      <dxi-item [label]="{text:'Correo Electrónico'}" dataField="correoElectronico">
        <dxi-validation-rule type="required" message="Correo Electrónico es requerido">
        </dxi-validation-rule>
        <dxi-validation-rule type="email" message="Ingrese un correo electrónico válido">
        </dxi-validation-rule>
        <dxo-editor-options [maxLength]="100"></dxo-editor-options>
      </dxi-item>

      <dxi-item [label]="{text:'Nombre'}" dataField="nombre">
        <dxi-validation-rule type="required" message="Nombre es requerido">
        </dxi-validation-rule>
        <dxo-editor-options [maxLength]="150"></dxo-editor-options>
      </dxi-item>

      <dxi-item [label]="{text:'Apellicos'}" dataField="apellido">
        <dxi-validation-rule type="required" message="Apellido es requerido">
        </dxi-validation-rule>
        <dxo-editor-options [maxLength]="150"></dxo-editor-options>
      </dxi-item>

      <dxi-item [label]="{text:'País'}" dataField="paisOrigen" editorType="dxSelectBox"
        [editorOptions]="{ items: paises , valueExpr: 'catalogosId', displayExpr:'descripcion', searchEnabled: true, showClearButton: true}">
        <dxi-validation-rule type="required" message="País es requerido"></dxi-validation-rule>
      </dxi-item>

      <dxi-item [label]="{text:'Tipo Documento'}" dataField="tipoDocumento" editorType="dxSelectBox"
        [editorOptions]="{ items: tipoDocumentos , valueExpr: 'catalogosId', displayExpr:'descripcion'}">
        <dxi-validation-rule type="required" message="Tipo Documento es requerido"></dxi-validation-rule>
      </dxi-item>

      <dxi-item [label]="{text:'# Documento'}" dataField="noDocumento">
        <dxi-validation-rule type="required" message="Número de documento es requerido">
        </dxi-validation-rule>
        <dxo-editor-options [maxLength]="50"></dxo-editor-options>
      </dxi-item>

      <dxi-item [label]="{text:'Celular'}" dataField="celular" [editorOptions]="{mask: '(000) 0000-0000',
          maskRules:phoneRules, maskInvalidMessage:'Incorrecto formato', validationMessagePosition:'left'}">
        <dxi-validation-rule type="required" message="Celular es requerido">
        </dxi-validation-rule>
        <dxo-editor-options [maxLength]="15"></dxo-editor-options>
      </dxi-item>

      <dxi-item [label]="{text:'Dirección'}" dataField="direccion" [colSpan]="2">
        <dxi-validation-rule type="required" message="Dirección es requerido">
        </dxi-validation-rule>
        <dxo-editor-options [maxLength]="300"></dxo-editor-options>
      </dxi-item>
    </dxi-item>
  </dx-form>
</ng-template>
