::ng-deep .p-button.p-button-icon-only {
  min-width: unset !important;
  height: 0 !important;
}

::ng-deep .ellipsis {
  text-overflow: ellipsis;
  /* enables ellipsis */
  white-space: nowrap;
  /* keeps the text in a single line */
  overflow: hidden;
  /* keeps the element from overflowing its parent */
  max-width: 175px !important;
}

::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
  /* width: 100px;*/
  padding: 8px 10px;
  margin-right: 5px;
  // font-size: 0.9em;
  /*   border: 1px solid red; */
  border-radius: 10px 10px 0 0;
  /* height: 33px; */
  float: left;
  text-align: center;
  /* line-height: 2.0em; */
  cursor: pointer;
  list-style: none !important;
  transition: all 200ms;
  /*   border-right: 0.125rem solid #16a085; */
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;

  >a {
    min-width: 170px;
    height: 41px;
    border: unset;
    font-size: smaller;

    &:hover {
      // box-shadow: 0 0 10px 0 #3f51b5 inset, 0 0 5px 1px #3f51b5 !important;
      border-radius: 10px 10px 0 0;
      border: transparent !important;
      transform: translateY(-2px);
      // z-index: 9000;
    }

    >div:first-child {
      color: #6c757d;
    }

    >div:nth-child(2) {
      margin-top: -14px !important;
      margin-right: -14px !important;
      border-radius: 10px 10px 10px 10px;
      font-size: 0.5em
    }
  }

  &:has(a:hover) {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    background: transparent;
    animation: animationFrames 2s infinite;
  }
}

::ng-deep .p-tabmenu .p-tabmenu-nav .p-highlight {
  background: #eee;
  color: #fff;
  font-size: unset;
  opacity: 0.9;

  >a {
    border: solid #dee2e6;
    border-width: 0 0 2px 0;
    border-color: #2196f3;
    border-radius: 10px 10px 0 0;

    &:hover {
      background-color: #4f62ce;
      box-shadow: 0 -3px 7px rgba(0, 0, 0, 0.15);

      >div:first-child {
        color: white !important;
        transition: all 0.3s ease-out 0s;
      }
    }

    >div:first-child {
      color: unset !important;
    }
  }

  &:has(a:hover) {
    border-color: #2196f3;
    animation: unset;
  }
}

::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenu-ink-bar {
  display: none;
  position: absolute;
  bottom: 0;
  height: 2px;
  // background-color: #3F51B5;
  background-color: unset;
  transition: 500ms cubic-bezier(0.35, 0, 0.25, 1);
}

@keyframes animationFrames {
  0% {
    background-color: white;
  }

  50% {
    background-color: #b3bbc4;
  }

  100% {
    background-color: white;
  }
}

::ng-deep .mat-mdc-tab-link .mdc-tab__content {
  width: 100% !important;
}

::ng-deep .mdc-tab {
  padding: unset !important;
}

::ng-deep .wc-box {
  position: absolute;
  top: 11px;
  right: 15px;
}

::ng-deep .wc-box div {
  position: relative;
  float: right;
  width: 30px;
  height: 30px;
}

::ng-deep .wc-box div:before,
::ng-deep .wc-box div:after {
  top: 30%;
  right: 30%;
  bottom: 30%;
  left: 30%;
  content: " ";
  position: absolute;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 0 0 2px 0;
}

::ng-deep .wc-box .close:before,
::ng-deep .wc-box .close:after {
  bottom: 50%;
  top: 50%;
}

::ng-deep .wc-box .close:before {
  transform: rotate(45deg);
}

::ng-deep .wc-box .close:after {
  transform: rotate(-45deg);
}

::ng-deep .wc-box .close:hover:after,
::ng-deep .wc-box .close:hover:before {
  border-color: #E04343;
  animation: pulse 2s infinite;
  scale: 1.2;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
