@use '@angular/material' as mat;
@include mat.core();

// font
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import 'scss/fonts/tabler-icons.min.css';

// load fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

// theme setup
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~devextreme/dist/css/dx.light.css";
@import './app/@theme/styles/theme-palette-colors.scss';
@import './app/@theme/styles/theme.scss';

$custom-typography: (
  brand-family: "'Inter var', sans-serif",
  plain-family: "'Inter var', sans-serif",
  typescale: (display-large: mat.define-typography-level(2.25rem, 3.1, 500),
    display-medium: mat.define-typography-level(2rem, 2.28, 500),
    display-small: mat.define-typography-level(1.75rem, 2.57, 500),
    headline-large: mat.define-typography-level(1.5rem, 2.28, 500),
    headline-medium: mat.define-typography-level(1.5rem, 1.2, 500),
    headline-small: mat.define-typography-level(1.875rem, 1.27, 500),
    title-large: mat.define-typography-level(1.5rem, 1.33, 500),
    title-medium: mat.define-typography-level(0.875rem, 1.5, 400),
    title-small: mat.define-typography-level(0.875rem, 1.57, 400),
    body-large: mat.define-typography-level(0.875rem, 1.5, 400),
    body-medium: mat.define-typography-level(0.875rem, 1.57, 400),
    label-large: mat.define-typography-level(0.875rem, 0, 500),
    label-medium: mat.define-typography-level(0.75rem, 1.66, 500),
    label-small: mat.define-typography-level(0.75rem, 1.66, 400),
  )
);

$my-primary: mat.define-palette($blue-theme);
$my-accent: mat.define-palette($grey-theme);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: $custom-typography
));

@include mat.core-theme($my-theme);

// @include mat.all-component-typographies(theme-typography("'Inter var', sans-serif")); // theme typography

// default theme
// @include mat.all-component-themes(get-light-theme($blue-theme));

// generate non material classes based on theme
.blue-theme {
  @include generate-theme-classes($blue-theme); // generate non material classes based on theme
}

// common
@import './scss/generic';
@import './scss/common';
@import './scss/variables';

// theme layouts
@import './app/@theme/styles/layouts/menu';
@import './app/@theme/styles/pages/dashboard.scss';

// grid
@import './app/@theme/styles/grid';

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
