@use '@angular/material' as mat;
@include mat.core();


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$able-pro-angular-free-primary: mat.define-palette(mat.$indigo-palette);
$able-pro-angular-free-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$able-pro-angular-free-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$able-pro-angular-free-theme: mat.define-light-theme((
  color: (
    primary: $able-pro-angular-free-primary,
    accent: $able-pro-angular-free-accent,
    warn: $able-pro-angular-free-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($able-pro-angular-free-theme);

// font
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import 'scss/fonts/tabler-icons.min.css';

// load fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

// theme setup
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~devextreme/dist/css/dx.light.css";
@import './app/@theme/styles/theme-palette-colors.scss';
@import './app/@theme/styles/theme.scss';

// $custom-typography: (
//   brand-family: "'Inter var', sans-serif",
//   plain-family: "'Inter var', sans-serif",
//   typescale: (display-large: mat.define-typography-level(2.25rem, 3.1, 500),
//     display-medium: mat.define-typography-level(2rem, 2.28, 500),
//     display-small: mat.define-typography-level(1.75rem, 2.57, 500),
//     headline-large: mat.define-typography-level(1.5rem, 2.28, 500),
//     headline-medium: mat.define-typography-level(1.5rem, 1.2, 500),
//     headline-small: mat.define-typography-level(1.875rem, 1.27, 500),
//     title-large: mat.define-typography-level(1.5rem, 1.33, 500),
//     title-medium: mat.define-typography-level(0.875rem, 1.5, 400),
//     title-small: mat.define-typography-level(0.875rem, 1.57, 400),
//     body-large: mat.define-typography-level(0.875rem, 1.5, 400),
//     body-medium: mat.define-typography-level(0.875rem, 1.57, 400),
//     label-large: mat.define-typography-level(0.875rem, 0, 500),
//     label-medium: mat.define-typography-level(0.75rem, 1.66, 500),
//     label-small: mat.define-typography-level(0.75rem, 1.66, 400),
//   )
// );

// $my-primary: mat.define-palette($blue-theme);
// $my-accent: mat.define-palette($grey-theme);
// $my-warn: mat.define-palette(mat.$red-palette);

// $my-theme: mat.define-light-theme((
//  color: (
//    primary: $my-primary,
//    accent: $my-accent,
//    warn: $my-warn,
//  ),
//  typography: $custom-typography
// ));

// @include mat.core-theme($my-theme);

// @include mat.all-component-typographies(theme-typography("'Inter var', sans-serif")); // theme typography

// default theme
// @include mat.all-component-themes(get-light-theme($blue-theme));

// generate non material classes based on theme
.blue-theme {
  @include generate-theme-classes($blue-theme); // generate non material classes based on theme
}

// common
@import './scss/generic';
@import './scss/common';
@import './scss/variables';

// theme layouts
@import './app/@theme/styles/layouts/menu';
@import './app/@theme/styles/pages/dashboard.scss';

// grid
@import './app/@theme/styles/grid';

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Quill Text Editor for p-editor */
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";


.effect-component {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.lightSpeedOut {
    -webkit-animation-name: lightSpeedOut;
    animation-name: lightSpeedOut;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes lightSpeedOut {
    0% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}

@keyframes lightSpeedOut {
    0% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}
