<app-grid-crud [gridParamCrud]="parametros" [openEditNewTab]="false" [editFormsTemplate]="appEditForms"
  (toolbarEditEvent)="handleEventEditToolbar($event)">
</app-grid-crud>

<ng-template #appEditForms let-selectedRecord>
  <dx-form id="formEdit" [formData]="selectedRecord" [labelMode]="'static'">
    <dxi-item itemType="group" [colCount]="4">
      <dxi-item [label]="{text:'Proveedor'}" dataField="proveedorId" editorType="dxSelectBox" [colSpan]="3"
        [editorOptions]="{ dataSource: dsProveedores, showClearButton: true, displayExpr: displayExprTemplate, valueExpr: 'proveedorId',
                        searchEnabled: true, searchTimeout: 1000, itemTemplate: itemTemplate, searchExpr: ['nombre', 'apellido', 'correoElectronico', 'celular']}">
      </dxi-item>

      <dxi-item [label]="{text:'No. Doc.'}" dataField="documentoNo" [editorOptions]="{readOnly: true}">
      </dxi-item>

      <dxi-item [label]="{text:'No. Cot.'}" dataField="documentoNoRef" [editorOptions]="{readOnly: true}">
      </dxi-item>

      <dxi-item [label]="{text:'Fecha Doc.'}" editorType="dxDateBox"
        [editorOptions]="{readOnly: true, type: 'datetime', displayFormat: 'dd/MMM/yyyy hh:mm aa'}"
        dataField="fechaDocumento">
      </dxi-item>

      <dxi-item [label]="{text:'Tipo Impuesto'}" dataField="tipoImpuesto" editorType="dxSelectBox"
        [editorOptions]="{ items: tipoImpuesto , valueExpr: 'catalogosId', displayExpr:'descripcion'}">
        <dxi-validation-rule type="custom" [validationCallback]="validateNumber" message="Tipo Impuesto es requerido">
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item [label]="{text:'Estado'}" dataField="estado" editorType="dxSelectBox"
        [editorOptions]="{ readOnly: true, items: estadosDocumento , valueExpr: 'catalogosId', displayExpr:'descripcion'}">
      </dxi-item>

      <dxi-item [label]="{text:'Notas'}" dataField="notas" [colSpan]="4">
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" caption="Detalle" [colSpan]="3">
      @if(selectedRecord){
      <dxi-item>
        <div *dxTemplate style="margin-top: -10px !important">
          <app-orden-compras-detalle [ordenCompraId]="selectedRecord.ordenCompraId"
            [tipoImpuestoId]="selectedRecord.tipoImpuesto"
            [(surveyDetalleTemplate)]="selectedRecord.ordenCompraDetalles">
          </app-orden-compras-detalle>
        </div>
      </dxi-item>
      }
    </dxi-item>
  </dx-form>
</ng-template>

<div style="display: none;">
  <dx-select-box id='selectBoxSample'></dx-select-box>
</div>
